  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*************** CSS to display the START GAME DIV */
  #start{
    display: flex;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #start h1{
    color: #f509a6;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 35px;
    margin: 10px;
    text-shadow: 2px 2px rgb(16, 15, 15);
  }

  #start h2{
    text-align: center;
    color: #f509a6;
    font-family: Raleway, sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin: 10px;
  }

  #start.playing {
    margin-top: -100vh;
  }

  #start-game-btn{
    background-image: linear-gradient(-180deg, #f58cc4 0%, #82c6e3 100%);
    border-radius: 0.5rem;
    color: #060606;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    padding: 0.75rem 1.5rem;
  }

  #start-game-btn:hover{
    background-image: linear-gradient(-180deg, #8cc9f3 0%, #f392f1 100%);
  }

  input{
    width: 200px;
    height: 10px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 0px 2px 2px rgb(16, 15, 15);
  }

  label{
    font-size: 20px;
    font-weight: 550;
    font-family: monospace;
  }

  /************** Displayimg the GAME GRID */
  #game{
    display: none;
  }

  #game.startGame{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 750px;
    height: 600px;
    margin: 50px;
    border: thick double black;
    background-color: lightyellow;
  }

  /* game board table */

  #board td {
    position : relative;
    width: 55px;
    height: 55px;
    border: solid 2px #666;
    align-items: center;
  }

  /* pieces are div within game table cells: draw as colored circles */

  .piece {
    /* TODO: make into circles */
    position: absolute; 
    animation-name: fall-animation;
    animation-duration: 1000ms;

    /* This top must be added or else the chip wont place in the mid of each cell when dropped */
    top: 0px;
    margin: 5px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  /* Animated as falls down */
  @keyframes fall-animation {
    from {
        top: -350px;
    }
    to {
        top: 0px;
    }
  }

  /* TODO: make pieces red/blue,  depending on player 1/2 piece */
  .p1{
    background-color: violet;
  }
  .p2{
    background-color: rgb(243, 136, 153);
  }

  /* column-top is table row of clickable areas for each column */

  #column-top td {
    border: dashed 3px rgb(108, 107, 107);
  }

  #column-top td:hover {
    background-color: gold;
  }

  /*********** CSS to display the GAME OVER DIV */
  #end {
    display: none;
  }
  
  #end.gameOver {
    display: flex;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;
    font-family: Raleway, sans-serif;
    text-align: center;
  }

  #end h1 {
    font-size: 2.5rem;
  }

  #play-again-btn{
    font-size: 2rem;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0px 0px 2px 2px white;
    background-color:#0a0a23;
    color: #fff;
  }
